<div>
<div class="u-container">
<%# <h1>Displays user info</h1> %>
<img class="u_image" src="<%= @user.photo ? @user.photo : 'https://images.unsplash.com/photo-1582567056798-7dc94989e56d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80' %>">
    <div class="u-info">
    <h3><%= link_to @user.name, @user %></h3>

      <br>
      Number of posts: <%= @user.posts_counter %>
    </div>
</div>
 <div class="bio">
      <h5>Bio</h5>
      <p><%= @user.bio %></p>
  </div>
  <h2>Recent Posts</h2>
<% @user.recent_posts.each do |post| %>
  <div class="post-preview">
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
    <p>Number of comments: <%= post.comments.count %></p>
    <p>Number of likes: <%= post.likes_counter %></p>
  </div>
<% end %>

  <% if Post.count > 3 %>
    <%= link_to "Show All Posts", user_posts_path(@user) %>
  <% end %>
</div>
